## **Google ML Crash Course Linear Regression Practice**

In [ ]:
# Importing the libraries
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing import MinMaxScaler

In [10]:
# Load the dataset
df = pd.read_csv('D:/Desktop/Google ML Crash Course Practice/chicago_taxi_train.csv')
df.head()

,TRIP_START_TIMESTAMP,TRIP_END_TIMESTAMP,TRIP_START_HOUR,TRIP_SECONDS,TRIP_MILES,TRIP_SPEED,PICKUP_CENSUS_TRACT,DROPOFF_CENSUS_TRACT,PICKUP_COMMUNITY_AREA,DROPOFF_COMMUNITY_AREA,FARE,TIPS,TIP_RATE,TOLLS,EXTRAS,TRIP_TOTAL,PAYMENT_TYPE,COMPANY
0,05/17/2022 7:15:00 AM,05/17/2022 7:45:00 AM,7.25,2341,2.57,4.0,NaN,NaN,NaN,17.0,31.99,2.0,6.3,0.0,0.0,33.99,Mobile,Flash Cab
1,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1074,1.18,4.0,NaN,1.703108e+10,NaN,8.0,9.75,3.0,27.9,0.0,1.0,14.25,Credit Card,Flash Cab
2,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1173,1.29,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.25,0.0,0.0,0.0,0.0,10.25,Cash,Sun Taxi
3,05/17/2022 6:00:00 PM,05/17/2022 7:00:00 PM,18.00,3360,3.70,4.0,1.703132e+10,1.703124e+10,32.0,24.0,23.75,0.0,0.0,0.0,1.0,24.75,Cash,Choice Taxi Association
4,05/17/2022 5:00:00 PM,05/17/2022 5:30:00 PM,17.00,1044,1.15,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.00,0.0,0.0,0.0,0.0,10.00,Cash,Flash Cab

### Data Preprocessing

In [11]:
df.columns

Index(['TRIP_START_TIMESTAMP', 'TRIP_END_TIMESTAMP', 'TRIP_START_HOUR',
       'TRIP_SECONDS', 'TRIP_MILES', 'TRIP_SPEED', 'PICKUP_CENSUS_TRACT',
       'DROPOFF_CENSUS_TRACT', 'PICKUP_COMMUNITY_AREA',
       'DROPOFF_COMMUNITY_AREA', 'FARE', 'TIPS', 'TIP_RATE', 'TOLLS', 'EXTRAS',
       'TRIP_TOTAL', 'PAYMENT_TYPE', 'COMPANY'],
      dtype='object')

In [12]:
# Cleaninig the data
df = df.dropna()
df = df.drop_duplicates()
df.columns = df.columns.str.lower()
df = df[df.fare > 0]
df = df[df.trip_seconds > 0]
df.isnull().sum()

trip_start_timestamp      0
trip_end_timestamp        0
trip_start_hour           0
trip_seconds              0
trip_miles                0
trip_speed                0
pickup_census_tract       0
dropoff_census_tract      0
pickup_community_area     0
dropoff_community_area    0
fare                      0
tips                      0
tip_rate                  0
tolls                     0
extras                    0
trip_total                0
payment_type              0
company                   0
dtype: int64

In [13]:
# Dropping unwanted features to only remain with the features that are important for now
df = df[['trip_miles', 'fare']]
df.head()

   trip_miles   fare
2        1.29  10.25
3        3.70  23.75
4        1.15  10.00
5        1.38  11.00
6        2.00  14.50

In [14]:
features = ["trip_miles"]  # Independent variable (X)
target = "fare"  # Dependent variable (y)
scaler = MinMaxScaler()
df[features] = scaler.fit_transform(df[features])

### Linear Regression model with Keras

In [ ]:
# import the libraries
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import numpy as np