# **Regression Model using RandomForest Regressor**

In [3]:
#Import the libraries for data manipulation and visualization
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Import the dataset
df = pd.read_csv('chicago_taxi_train.csv')

In [7]:
# Check the first few rows of the dataset
df.head()

,TRIP_START_TIMESTAMP,TRIP_END_TIMESTAMP,TRIP_START_HOUR,TRIP_SECONDS,TRIP_MILES,TRIP_SPEED,PICKUP_CENSUS_TRACT,DROPOFF_CENSUS_TRACT,PICKUP_COMMUNITY_AREA,DROPOFF_COMMUNITY_AREA,FARE,TIPS,TIP_RATE,TOLLS,EXTRAS,TRIP_TOTAL,PAYMENT_TYPE,COMPANY
0,05/17/2022 7:15:00 AM,05/17/2022 7:45:00 AM,7.25,2341,2.57,4.0,NaN,NaN,NaN,17.0,31.99,2.0,6.3,0.0,0.0,33.99,Mobile,Flash Cab
1,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1074,1.18,4.0,NaN,1.703108e+10,NaN,8.0,9.75,3.0,27.9,0.0,1.0,14.25,Credit Card,Flash Cab
2,05/17/2022 5:15:00 PM,05/17/2022 5:30:00 PM,17.25,1173,1.29,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.25,0.0,0.0,0.0,0.0,10.25,Cash,Sun Taxi
3,05/17/2022 6:00:00 PM,05/17/2022 7:00:00 PM,18.00,3360,3.70,4.0,1.703132e+10,1.703124e+10,32.0,24.0,23.75,0.0,0.0,0.0,1.0,24.75,Cash,Choice Taxi Association
4,05/17/2022 5:00:00 PM,05/17/2022 5:30:00 PM,17.00,1044,1.15,4.0,1.703132e+10,1.703108e+10,32.0,8.0,10.00,0.0,0.0,0.0,0.0,10.00,Cash,Flash Cab

In [9]:
# Data Cleaning
def clean_data(df):
    # Drop column: 'TRIP_START_TIMESTAMP'
    df = df.drop(columns=['TRIP_START_TIMESTAMP'])
    # Drop column: 'TRIP_END_TIMESTAMP'
    df = df.drop(columns=['TRIP_END_TIMESTAMP'])
    # Drop column: 'TRIP_START_HOUR'
    df = df.drop(columns=['TRIP_START_HOUR'])
    # Drop column: 'PICKUP_CENSUS_TRACT'
    df = df.drop(columns=['PICKUP_CENSUS_TRACT'])
    # Drop column: 'DROPOFF_CENSUS_TRACT'
    df = df.drop(columns=['DROPOFF_CENSUS_TRACT'])
    # Drop column: 'PICKUP_COMMUNITY_AREA'
    df = df.drop(columns=['PICKUP_COMMUNITY_AREA'])
    # Drop column: 'DROPOFF_COMMUNITY_AREA'
    df = df.drop(columns=['DROPOFF_COMMUNITY_AREA'])
    # Drop column: 'TIPS'
    df = df.drop(columns=['TIPS'])
    # Drop column: 'TIP_RATE'
    df = df.drop(columns=['TIP_RATE'])
    # Drop column: 'TOLLS'
    df = df.drop(columns=['TOLLS'])
    # Drop column: 'EXTRAS'
    df = df.drop(columns=['EXTRAS'])
    # Drop column: 'TRIP_TOTAL'
    df = df.drop(columns=['TRIP_TOTAL'])
    # Drop column: 'COMPANY'
    df = df.drop(columns=['COMPANY'])
    # Drop column: 'PAYMENT_TYPE'
    df = df.drop(columns=['PAYMENT_TYPE'])
    return df


df_clean = clean_data(df.copy())
df_clean.head()

   TRIP_SECONDS  TRIP_MILES  TRIP_SPEED   FARE
0          2341        2.57         4.0  31.99
1          1074        1.18         4.0   9.75
2          1173        1.29         4.0  10.25
3          3360        3.70         4.0  23.75
4          1044        1.15         4.0  10.00

In [12]:
# checking dataset summary
df_clean.describe()

       TRIP_SECONDS    TRIP_MILES    TRIP_SPEED          FARE
count  31694.000000  31694.000000  31694.000000  31694.000000
mean    1319.796397      8.289463     20.256544     23.905210
std      928.932873      7.265672     11.110390     16.970022
min       60.000000      0.500000      4.000000      3.250000
25%      548.000000      1.720000     11.000000      9.000000
50%     1081.000000      5.920000     17.600000     18.750000
75%     1888.000000     14.500000     27.500000     38.750000
max     7140.000000     68.120000     64.800000    159.250000

In [13]:
# checking missing values
df_clean.isnull().sum().sum()

0